/* ***************GENERAL RULES ********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #009688 0px,
    #009688 13vh,
    #d2dbdc 13vh,
    #d2dbdc 100%
  );
  font-family: 'Lato', sans-serif;
}

/***************** END GENERAL RULES *************************/

/******************** LAYOUT *****************************/
.container {
  display: flex;
  width: 70%;
  min-width: 900px;
  height: 96%;
  background: #fff;;
}

.side {
  width: 34%;
  height: 100%;
  background: #eaeaea;
}

.content-chat {
  display: flex;
  flex-direction: column;
  width: 66%;
}

/* SEZIONE CONTENT CHAT*/

.content-chat .info-contatto{
  width: 100%;
  border: 1px solid red;
  height: 45px;
}

.content-chat .main-chat {
  width: 546px;
  border: 1px solid black;
  height: 100%;
  align-self: center;
}


.content-chat .block-write-message {
  height: 51px;
  width: 100%;
  border: 1px solid red;
}