.underline {
  text-decoration: underline;
  opacity: 0.5;
  display: block;
}


.block {
  display: block;
}

.circle-img {
  height: 40px;
  width: 40px;
  border-radius: 30px;
}

.message {
  height: 38px;
  border-radius: 8px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  padding: 9px 3px 9px 6px;
  font-size: 14px;
  width: 108px;
}

.user-msg {
  background-color: #d5faba;
  align-self: end;
}

.friend-msg {
  background-color: #fff;
}

.font-size {
  font-size: 6px;
}